/* CSS Document */
/* @group you only need this */

.nivel {
	overflow:hidden;
	float: left;
	width: 100%;
}
.content , .container-block ,  .block, .sub-block {
	float: left;
	display:inline;
	overflow:hidden; 
}
.content, .container-block{
	width: 100%;
}
.footer {
	clear:both;
}

/* @end */